.banner {
  background-color: rgba(0, 166, 255, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  padding-inline: 40px;
  width: 100%;

  h2 {
    margin: 0;
  }
}

